.browse-page {
  color: var(--ion-text-color);
}

.browse-page ion-input {
  min-height: 50px;
  border: none;
  border-radius: 24px;
  width: 100%;
  max-width: 300px;
  background: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
}

.browse-page ion-input::placeholder {
  color: var(--ion-color-light-contrast);
}
.browse-page ion-button {
  height: 50px;
  width: 100%;
  max-width: 300px;
  border-radius: 24px;
  background: var(--ion-color-primary);
  box-shadow: 0px 0px 53px var(--ion-color-primary);
  font-size: 16px;
  letter-spacing: 0.1em;
  overflow: hidden;
}