.durin-file-view {
  .durin-file_name {
    font-size: 1.2rem;
    text-align: center;
  }

  .durin-file_url {
    font-size: 1rem;
  }

  .durin-label {
    display: block;
    --durin-padding-start: 0;
  }
}
