.files-page {
  color: var(--ion-text-color);

  .shortcuts {
    button {
      background: none;
      color: var(--ion-text-color);
      margin-right: 8px;
      padding: 8px 16px;
      border: 1px solid var(--ion-text-color);
      border-radius: var(--border-radius);
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 0.1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
