@font-face {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Koulen-normal-400.eot);
    src: local('Koulen'), url(./assets/fonts/Koulen-normal-400.svg#Koulen) format('svg'), url(./assets/fonts/Koulen-normal-400.ttf) format('truetype'), url(./assets/fonts/Koulen-normal-400.woff) format('woff'), url(./assets/fonts/Koulen-normal-400.woff2) format('woff2'), url(./assets/fonts/Koulen-normal-400.eot?#iefix) format('embedded-opentype');
  }

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(./assets/fonts/Source-Code-Pro-normal-300.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro-normal-300.woff) format('woff'), url(./assets/fonts/Source-Code-Pro-normal-300.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Source-Code-Pro.eot);
    src: local('Source Code Pro'), url(./assets/fonts/Source-Code-Pro.eot?#iefix) format('embedded-opentype'), url(./assets/fonts/Source-Code-Pro.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro.woff) format('woff'), url(./assets/fonts/Source-Code-Pro.ttf) format('truetype'), url(./assets/fonts/Source-Code-Pro.svg#SourceCodePro) format('svg');
  }
  
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/Source-Code-Pro-normal-700.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro-normal-700.woff) format('woff'), url(./assets/fonts/Source-Code-Pro-normal-700.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    src: url(./assets/fonts/Source-Code-Pro-normal-900.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro-normal-900.woff) format('woff'), url(./assets/fonts/Source-Code-Pro-normal-900.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 300;
    src: url(./assets/fonts/Source-Code-Pro-italic-300.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro-italic-300.woff) format('woff'), url(./assets/fonts/Source-Code-Pro-italic-300.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    src: url(./assets/fonts/Source-Code-Pro-italic-400.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro-italic-400.woff) format('woff'), url(./assets/fonts/Source-Code-Pro-italic-400.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 700;
    src: url(./assets/fonts/Source-Code-Pro-italic-700.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro-italic-700.woff) format('woff'), url(./assets/fonts/Source-Code-Pro-italic-700.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 900;
    src: url(./assets/fonts/Source-Code-Pro-italic-900.woff2) format('woff2'), url(./assets/fonts/Source-Code-Pro-italic-900.woff) format('woff'), url(./assets/fonts/Source-Code-Pro-italic-900.ttf) format('truetype');
  }
  
  