@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Source+Code+Pro&display=swap");

body {
  font-family: "koulen";
  background-image: url(./assets/images/portals-bg.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  --durin-padding-start: 20px;
  --durin-padding-y: 16px;
  --ion-background-color: transparent;
}

.ion-padding {
  --ion-padding: 20px;
}

ion-toolbar {
  --border-color: transparent;
  .logo {
    max-height: 44px;
    width: auto;
    aspect-ratio: 2/1;
    margin: 0 auto;
  }
}

ion-label.durin-label {
  font-family: "Koulen", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: normal;
  padding-left: var(--durin-padding-start);

  &.ion-text-center {
    display: block;
    --durin-padding-start: 0;
  }
}

.durin-input-container {
  overflow: visible;
}

ion-input.durin-input,
input.durin-input {
  border-radius: calc(50px * var(--border-radius-factor));
  border: none;
  width: 100%;
  background: #000;
  color: #fff;
  min-height: 56px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 210px var(--durin-teal);
  padding: var(--durin-padding-y) 20px;
  font-family: var(--ion-font-family);

  --padding-bottom: var(--durin-padding-y);
  --padding-end: 20px;
  --padding-start: var(--durin-padding-start);
  --padding-top: var(--durin-padding-y);

  &::placeholder {
    opacity: 0.6;
  }
  &::placeholder-shown() {
    opacity: 0.6;
  }
  &:focus-within,
  &:hover {
    border: 1px solid var(--durin-teal);
  }

  &.error {
    border: 1px solid var(--ion-color-danger);;
  }
}

input[type="file"] {
  cursor: pointer;
  display: flex;
  color: rgba(255,255,255,.6);
  &.hasFile {
    color: #fff;
  }
  &::file-selector-button {
    color: inherit;
    border: 0px;
    background-color: #222;
    font-family: var(--ion-font-family);
    border-radius: 3px;
    align-self: center;
    display: none;
  }
}

ion-button.durin-button,
ion-button.durin-button-alt {
      height: 56px;
      transition: box-shadow 200ms ease-in-out;
  border-radius: calc(50px * var(--border-radius-factor));
  width: 100%;
  font-family: "Koulen", sans-serif;
  letter-spacing: 0.25em;
  font-size: 16px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: normal;
  --padding-bottom: var(--durin-padding-y);
  --padding-end: 20px;
  --padding-start: var(--durin-padding-start);
  --padding-top: var(--durin-padding-y);
}


ion-button.durin-button {  
  background: var(--durin-teal);
  color: #1e1e1e;

  &:focus-within,
  &:hover {
    box-shadow: 0px 0px 2px var(--ion-color-primary);
  }

  &.durin-hide-when-disabled.button-disabled {
    opacity: 0;
  }
}

.durin-button-alt {
  --background: transparent;
  color: #fff;
  border: 1px solid var(--durin-teal);

  &[size="small"] {
    font-size: 14px;
    min-height: 36px;
    letter-spacing: 2px;
    margin: 0;
  }
}

ion-tab-bar {
  height: 90px;
  --border: 0px;
}

ion-tab-button {
  --color-selected: #fff;
}

ion-radio-group {
  --ion-background-color: transparent;
}

ion-radio::part(container) {
  border-radius: 22px;
  width: 24px;
  height: 24px;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: var(--durin-teal);
  border-color: transparent;
  width: 24px;
  height: 24px;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #000;
  transform: rotate(45deg) translateY(-1px);
}

.durin-settings-group {
  width: 100%;
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

ion-item.durin-file {
  --border-color: transparent;
  margin-bottom: 0.6rem;

  .durin-file {
    &_thumbnail {
      border-radius: 4px;
      aspect-ratio: 1/1;
      overflow: hidden;
      svg {
        max-height: 100%;
      }
    }
    &_url {
      color: var(--durin-teal);
    }
    &_date {
      font-family: "Koulen", sans-serif;
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      letter-spacing: 0.1em;
    }
  }
}

.durin-validation {
  position: relative;
}

.durin-error {
  padding: 0px 20px 20px 20px;
  // border: 1px solid #D37669;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  max-width: 100%;
  ion-label {
    color: var(--ion-color-danger);
    font-family: 'Koulen';
    letter-spacing: .1em;
  }
}

.durin-shortcut-link {
  margin-top: 6px;
  ion-thumbnail {
    --border-radius: 4px;
  }
}

.durin-qr {
  background-color: #D9D9D9;
  border-radius: 10px;
  width: 240px;
  max-width: 100%;
  margin: 0 auto;
  padding: 35px;
  svg {
    display: block;
    max-width: 100%;
    height: 100%;
  }
}

.durin-square-img {
  width: auto;
  height: 240px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  aspect-ratio: 1/1;
  svg, img {
    display: block;
  }
  svg {
    max-height: 100%;
    background-color: #1e1e1e;
  }
}

.durin-view-ipfs {
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Koulen';
  letter-spacing: .2em;
}

.file-modal {
  background-color: #1e1e1e;
}

.durin-buttons {
  margin-top: auto;
}

.durin-buttons-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
  margin: 1.25rem 0;
  @media (max-width:390px) {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
}

.durin-pulse {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate3d(-50%,-50%,0);

  span {
    border-radius: 50%;
    background-color: var(--durin-teal);
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  span:nth-child(1) {animation-delay: -3s;}
  span:nth-child(2) {animation-delay: -2s;}
  span:nth-child(3) {animation-delay: -1s;}
  span:nth-child(4) {animation-delay: 0s;}
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .15;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

ion-toast {
  --white-space: nowrap;
}
ion-toast::part(message) {
  max-width: calc(100vw - 100px);
  text-overflow: ellipsis;
  overflow: hidden;
}