.share-page {
  color: var(--ion-text-color);
}

.share-page .big-input {
  min-height: 50px;
  border: none;
  border-radius: 24px;
  width: 100%;
  max-width: 300px;
  background: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
  padding-top: 10px;
  padding-left: 8px;
  padding-bottom: 10px;
}
.share-page .big-input:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.share-page .big-button {
  height: 50px;
  width: 100%;
  max-width: 300px;
  border-radius: 24px;
  background: var(--ion-color-primary);
  box-shadow: 0px 0px 53px var(--ion-color-primary);
  font-size: 16px;
  letter-spacing: 0.1em;
  overflow: hidden;
}

.share-page .big-button ion-spinner {
  margin-left: 10px;
}

.share-page .success-text {
  margin: 10px 0;
}

.share-page .share-link {
  margin: 10px 0;
}

.share-page ion-progress-bar {
  width: 100%;
  max-width: 300px;
  height: 10px;
  border-radius: 4px;
}

/* modal specific styles */
.share-page-modal-inner {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}