.share-page input {
  border: 1px solid #000;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  padding-top: 10px;
  padding-left: 8px;
  padding-bottom: 10px;
}
.share-page input:disabled {
  pointer-events: none;
  opacity: 0.7;
}
.share-page ion-button {
  height: 50px;
  width: 100%;
  max-width: 300px;
}

.share-page ion-button ion-spinner {
  margin-left: 10px;
}

.share-page .success-text {
  margin: 10px 0;
}

.share-page .share-link {
  margin: 10px 0;
}