.share-page {
  color: var(--ion-text-color);

  .success-text {
    margin: 10px 0;
  }

  .share-page .share-link {
    margin: 10px 0;
  }

  ion-progress-bar {
    width: 100%;
    height: 6px;
    border-radius: 6px;
    margin: 10px 0;
  }

  .large-file-text {
    display: block;
    margin: 10px 0;
    font-family: 'Koulen';
    text-align: center;
    opacity: .6;
    letter-spacing: 1px;
  }
}

/* modal specific styles */
.share-page-modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.durin-intro {
  --ion-backdrop-opacity: 0.7;
  @media screen and (min-width:768px) {
    --height: 720px;
  }
  ion-item {
    --padding-start: 0;
  }
}

.durin-intro-inner {
  padding: 2rem;
  background-color:#111;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #000;
  border: 2px solid #000;
  color: var(--ion-text-color);
  position: absolute;
  margin: 0 10px;
  
  @media screen and (max-width:767px) {
    top: 50%;
    transform: translateY(-50%);
  }
  max-height: 80vh;
  overflow: auto;
  p, ol {
    font-family: 'Source Code Pro';
    line-height: 1.6;
  }
  ol {
    padding-left: 28px;
  }
  li {
    margin-bottom: 8px;
  }
  ion-button {
    margin-top: 4rem!important;
    display: block;
  }
}